[2017-06-28 20:10] Sensiblemnd opened #1 "Add less to the cssExtention #"
// Default extension for your css file ["css", "scss", "sass"]
    "cssExtension": "css",

Can you add less?

[2017-06-28 20:19] CVarisco commented on #1
Hi @Sensiblemnd,

added cdc6694

Thanks!

[2017-06-28 20:24] #1 closed

[2017-06-28 20:25] Sensiblemnd commented on #1
Thanks

[2017-06-29 08:36] vaiulian opened #4 "SyntaxError: Unexpected token { at \create-component-app\dist\index.js:69"
I'm getting a `SyntaxError: Unexpected token {`

`C:\Users\vaiulian\AppData\Roaming\npm\node_modules\create-component-app\dist\index.js:69`
`function generateFiles({ type, name, path, indexFile, cssExtension, jsExtension, connected }) {`
                       ^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Mo

[2017-06-29 11:12] CVarisco commented on #4
Hi @vaiulian,
I used a new ES6 feature and I choose v7 of node to the minimum.
If you don't want update your node version, I can set v4 the minimum version of node.

ps: My tip is update the version to have a lot of new features and improvements of node 🙂

[2017-06-29 11:36] vaiulian commented on #4
No, i can't update to v7 and break my environment, not yet. The latest LTS version is 6.11 so i guess i'll update to that.

Also i think you should consider some retro compatibility. That way the tool will have a higher adoption rate.

Otherwise looks good.

[2017-06-29 11:43] CVarisco commented on #4
You are right!
in the next release i downgrade the minimum version to v6.

Thanks for your suggestion.

[2017-06-29 11:44] TryingToImprove opened #5 "Static `defaultProps` and `propTypes`"
Instead of having `${COMPONENT_NAME}.propTypes = {}` it would be nice if it was

[code]

[2017-06-29 12:07] CVarisco commented on #5
Hi @TryingToImprove,
thanks a lot for your suggestion.

I'm working on custom template feature.
In this way you can create your template and use it with the library.

What do you think about it ?

[2017-06-29 12:30] TryingToImprove commented on #5
@CVarisco It seems like it is going to require a lot of setup for the consumer/user. It would be nice if it was just like a addition to create-react-app, which have support for static properties;

https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#supported-language-features-and-polyfills

[2017-06-29 17:30] CVarisco commented on #4
Hey @vaiulian in the v0.3.0 the target node version is 6 🙂
Thanks again!

[2017-06-29 17:30] #4 closed

[2017-06-30 08:39] CVarisco opened #7 "add prettier-eslint hook to lint the components with the rules of the project"
It would be great if the new component is already linted with the rules of the project !

thank you @cedmax for the tip!

[2017-06-30 08:40] CVarisco commented on #5
Hi @TryingToImprove,

yesterday I added the custom template feature. If you want, try it and would be great if you give me some feedback.
I'm adding the label "enhancements" for this issue :)

Thanks

[2017-06-30 15:12] imjared opened #8 "Outputs `import template from './foo.js'`"
Given input:

Output index.js:
[code]

Should `connect` connect `template` instead? Am I missing something?

[2017-06-30 15:55] CVarisco commented on #8
Hi @imjared,
Thanks a lot for your issue 🙂
You are right, I think that the first line needs to be `import Foo from './Foo.js'`

What do you think about it ?

[2017-06-30 15:56] CVarisco commented on #8
So the new template index needs to be like this:
[code]

It is ok for you ? Correct ? 🙂

[2017-06-30 15:57] imjared commented on #8
I think that'd do it!

[2017-06-30 16:53] CVarisco commented on #8
Hi @imjared
I published a new version (v0.4.1) with the fixes:
fcb9c6ed6f90cb4a892d1c0aedd3451978ab6cc2
c2433f85cc7c5e82ce3c601360d5529b3cdf7dcf

Could you check if for you is ok ?
Thanks a lot!

[2017-07-01 09:51] #8 closed

[2017-07-02 09:38] labithiotis opened #10 "Renaming the CLI to be `create-component`"
Personally, I think the CLI should be `create-component` as it's not making an app but understand you adopted it from `react-create-app` and `create-component` was already [taken](https://www.npmjs.com/package/create-component).

Would you be open to supporting both, by just adding another bin path in package.json ?

[2017-07-02 09:44] labithiotis commented on #7
A different way I was going to tackle this was to run [prettier](https://github.com/prettier/prettier) over all generated files using rules defined in default config.

I was also thinking there's no need to ask the question to run prettier, just assume if someone has it defined in their default config it would always run it.

[2017-07-02 11:44] cedmax commented on #7
I would use prettier-eslint, I would think eslint is way more common than
prettier (I might be wrong tho).

On Sun, 2 Jul 2017, 10:44 Darren Labithiotis, <notifications@github.com>
wrote:

[2017-07-02 14:30] richraid21 commented on #10
If you install the package globally, you can just create an alias in your bash_profile:
`alias create-component="create-component-app"`

[2017-07-02 20:32] CVarisco commented on #10
Hi @labithiotis,
the package is `create-component-app` because is similar to `create-react-app`.
I think it's the best to understand what it means (and the context, react).

Thanks a lot for your suggestion.
I'm closing the issue.

[2017-07-02 20:32] #10 closed

[2017-07-04 08:08] CVarisco opened #14 "adds the ability to add component lifecycle methods on pure and class component"
It would be great if it is possible to adds all (for now) component lifecycle methods on class and pure component template.

[2017-07-04 08:56] TryingToImprove commented on #14
Just want to mention that I normally have my `componentDidMount` as a `async` function.

I am not sure if it should handle that.

[2017-07-04 16:10] CVarisco commented on #14
Hi @TryingToImprove,
for this specific case I think that now you can use custom template.

It is very difficult to do default templates that can fulfill every single developer.
But thanks a lot for your suggestion, for me it is very important receive feedbacks 🙂

[2017-07-05 09:00] viktorbergehall opened #15 "Doesn't apply rules from .ccarc"
I have created a `.ccarc` file in the root of my project folder with the following config:
[code]
The problem is that the cli doesn't seem to apply that config.

I run create-component-app@0.6.0 with npm@5.0.3. I do not have a global config file.

[2017-07-05 09:07] CVarisco commented on #15
Hi @viktorbergehall!

the problem is that now the library check the file inside the folder `.ccarc` not the file.
Try to create a folder with `.ccarc` name and put inside a `config.json` file.

Let me know 👍
thanks for your support 🙂

[2017-07-05 09:14] viktorbergehall commented on #15
Works great! Thank you for the fast reply

[2017-07-05 09:14] #15 closed

[2017-07-05 09:16] viktorbergehall opened #16 "Provide example of how to create custom templates"
The description on how to create custom templates is pretty thin. Could you provide a more detailed example?

[2017-07-05 09:16] CVarisco commented on #15
I need to edit the documentation (because is not clear enough) or add the ability to get a `.ccarc` file in the project folder 👍
Thank you again 🙂

[2017-07-05 10:08] TryingToImprove opened #17 "Component is not defined"
When creating a new statefull component the template is failing because Component is not defined.

I think it is because of the shared file setup from 3a2e51395c2fd925735d7fc5967c6d85d03fd543

A way to resolve the issue would be just to use `React.Component` instead for https://github.com/CVarisco/create-component-app/blob/master/src/templates/js/class.template.js.

[2017-07-05 12:40] #17 closed

[2017-07-06 11:04] CVarisco commented on #16
Hi @viktorbergehall !
Yes, you are right.

I'm creating a .md file with more details about the custom templates.

Thanks for your support 🚀

[2017-07-06 20:48] CVarisco commented on #16
Hi @viktorbergehall !

I created a doc file to create [custom templates](https://github.com/CVarisco/create-component-app/blob/master/docs/CUSTOM-TEMPLATES.md).
Give me some feedbacks 👍

[2017-07-07 08:51] viktorbergehall commented on #16
Thanks for the guide!

**A couple of thoughts:**
- How do you specify pure/stateless/class in templates?
- If you collect all settings in one file then the settings doesn't seem to apply. For example:
[code]
- It would be great if the script defaulted to look for settings in `.ccarc/config.json` (or something) rather than you'd have to specify it with the config flag.
- It wold be great if you cou

[2017-07-07 12:37] CVarisco commented on #16
If you collect all settings in one file then the settings doesn't seem to apply

With type `custom` you can't specify from the config the type because I can't know what are you writing in your template.
So, the only options that you can use when you use `type:custom` are:
- path
- templatesPath

**The other will be ignore** because you are writing your own templates, and in your templates folder y

[2017-07-11 07:36] CVarisco opened #20 "add the ability to choose in the config the file names"
Adds the ability to the user to insert the file name.
Something like this in the config:

[code]

thanks to @viktorbergehall

[2017-07-11 07:37] CVarisco commented on #16
Hi @viktorbergehall
If you don't have any question, I'm closing the issue

Thanks a lot for your contribute 🙂

[2017-07-11 07:37] #16 closed

[2017-07-14 00:40] monsonjeremy opened #21 "Add support for flow annotations"
Add a flag to add flow annotations which would enable flow at the top of the file and put in some default flow type annotations like so:

[code]

[2017-07-14 00:47] iagodahlem commented on #20
Hey @CVarisco, that's a great feature that I will really appreciate. I will try to figure this out and open a PR.

But first, I have some suggestions. What do you think about pass just the prefix used in the file name to config? Like this:

[code]

I think this way will be better to deal with the name and extension of the file, and just do something like this to generate the name of the file:

[co

[2017-07-14 06:55] CVarisco commented on #21
Hi @monsonjeremy,

thanks a lot for your support 👍🏻
Yeah, this will be a great enhancement in the config file.
Now we have a lot of questions on the CLI, so I think it is better to put this option only in the configuration.
What do you think about it ?

If you want contribute, for me it's a pleasure 🙂

[2017-07-14 08:10] CVarisco commented on #20
Hi @iagodahlem,
thanks to your support 🙂

What do you think if the user can choose in base the name and the testPrefix ?
Example:

[code]

And, what do you think if the user can use the constant `COMPONENT_NAME` to be replaced on the `file_name` config object ?

Example with component name = `MyComponent`
[code]
Results:
- Test file: `MyComponent.test.js`
- Component File: `Button.js`

Understand

[2017-07-15 00:41] iagodahlem commented on #20
Hey @CVarisco! I thank you man.

I guess that I get it. So let's see, your idea is, let user pass some optional options to _file_name_ property, being some of this options:

- `testPrefix`: Overrides the match word used on test files, for instance.
- `test`: Overrides the name used on test files.
- `component`: Override the name used on the component file itself.

What do you think? Do you have an

[2017-07-15 12:26] CVarisco commented on #20
Yeah 🎉
And also the style file name is a good option to add.

So:

[code]

Is it ok for you ?

[2017-07-19 18:13] iagodahlem commented on #20
Yes.

That's great to me.

Let's do this.

:metal: :metal: :metal:

[2017-07-19 18:54] iagodahlem opened #22 "Config file (.ccarc) is not being read"
When we add an `.ccarc` file to pass configs, this file is not being read.

[2017-07-19 19:31] #22 closed

[2017-07-27 21:27] CVarisco commented on #20
Hi !

I'm working on it on [filenames-feature](https://github.com/CVarisco/create-component-app/tree/filenames-feature) branch 📇

[2017-07-28 21:07] #20 closed

[2017-08-02 11:26] nealoke commented on #7
@CVarisco +1 for this :) I would just use rules of eslint or if you can. Prettier is mostly hooked in with eslint in my opinion :)

[2017-08-02 11:57] nealoke opened #26 "Allow to have templates for index, stories and test files?"
Is it possible to also write templates for `index.js`, `template.stories.js` and `template.spec.js`? When I try it with my current templates it does not output it correctly or am I doing it wrong?

I can't find that much docs on how to do this, nor how to use the `COMPONENT_NAME` in an `import COMPONENT_NAME from './COMPONENT_NAME.js`

[2017-08-02 12:04] CVarisco commented on #26
Hi @nealoke !

Thanks a lot for your feedback 🙂
Could you explain much better what is the problem and what are you doing? 🌴

[2017-08-02 12:05] nealoke commented on #26
Waaw that was fast 😄

Using `COMPONENT_NAME.spec.js` is not working, it simply does not use or copy the file from the template folder.

**`COMPONENT_NAME.spec.js` contents**
[code]

[2017-08-02 12:06] nealoke commented on #26
I'm trying to create my own templates for each file (eg stories / test / index / COMPONENT_NAME.js).

My `config.json` is currently the following:
[code]

[2017-08-02 12:15] CVarisco commented on #26
So, the problem is the naming of the file after the choice of component name?

[2017-08-02 12:17] nealoke commented on #26
@CVarisco see updated explanation, it was a mess before sorry!

[2017-08-02 12:28] CVarisco commented on #26
@nealoke Thanks a lot for your information!

There is a bug on the copy of the templates files to the destination folder.
I will investigate in these days to fix as soon as possible the bug.
(If you want to contribute, you are welcome 🌮 )

But for clarification, the `path` value on config file should be `components` without `/` because the destination folder when the script start is `${path}/` [fi

[2017-08-02 12:32] nealoke commented on #26
@CVarisco Thank you so very much for this tool and for looking into it :)

I will have a look but I really am not familiar with contributing to projects 😢 . I've stripped the `/` from the path now.

Also be aware that the `componentName.styles.scss` is also renamed to simply `styles.scss`.

[2017-08-02 14:03] nealoke commented on #26
I've figured out where it is going wrong, you mind pushing this to NPM?

The issue lies in the `generateFileName` function.

**Currently is**
[code]

So this does not replace the `COMPONENT_NAME` in the `fileName`. A simple if statement solves the issue :)

[code]

[2017-08-02 19:18] CVarisco commented on #26
Woooooo 🔝 🎉

I'm very happy for you 🙂 !
I hope that my project will be the first of a lot of others 🥇

I published a new version (v0.8.5) on NPM with your fix!
Thanks again and have a nice day 👓

[2017-08-02 19:18] #26 closed

[2017-08-03 21:44] nealoke opened #29 "[Question] Roadmap / new features?"
Hi @CVarisco I was just wondering, what are the next steps for this project? I might want to contribute some more :)

[2017-08-03 21:50] CVarisco commented on #14
Hi @TryingToImprov,
I reliased a feature to insert methods inside pure and class components.
Check it out, And if you want, tell me what do you think about it 👍

[2017-08-03 21:50] #14 closed

[2017-08-03 21:53] CVarisco commented on #29
Hi @nealoke !
I'm very happy that you want contribute more 🙂
You can choose whatever you want from the issue list ( #5, #7 or #21 )

Or, if you have other ideas, we can talk about it 💪

[2017-08-04 09:43] nealoke commented on #29
Yhea I was thinking why is this only "limited" to react components? In my opinion it could easily extend to redux. But it might be easier to just create a project which takes template files from different folders based on some questions via the CLI

Also it might be nice to also be able to provide which things to replace in stead of the only `COMPONENT_NAME`.

**Example folder structure**
- config

[2017-08-04 10:50] CVarisco commented on #29
Hi @nealoke !

I like your idea and could be very useful, in fact, me and @puemos will do a proposal regarding managing custom templates in this issue.
It would be great if you could give your feedback 👍

[2017-08-05 13:59] puemos opened #30 "Templates Mgmt"
Templates Mgmt
=============

The inspiration for this feature is [oh my zsh plugins](https://github.com/robbyrussell/oh-my-zsh/wiki/Plugins) mgmt

#### Requests:

1. Offer a set of predefined templates
2. Enable the user to add or edit custom templates
3. User can choose a template upon creation

#### Resentments

1. Ensure the quality of the predefined templates
2. Restrict the number of the sug

[2017-08-07 15:04] CVarisco commented on #30
Very cool stuff!
Thanks a lot @puemos  👍

[2017-08-15 11:44] nealoke commented on #29
@CVarisco @puemos any updates on this? :)

[2017-08-15 19:25] CVarisco commented on #29
Hi,

I'm in vacation now 🏝
@puemos started #30.

If you want to contribute on him branch, check it out!

Ps:I'm coming back on September 🙃

[2017-08-21 23:26] troym9731 opened #32 "New Release?"
This is a really great tool that you've built! I'm hoping to start using this with the team I work with. It appears that your latest bug fix from a couple weeks ago dealing with duplicate extensions for custom templates isn't in the latest release available on npm?

If you're already aware of this, then I apologize in advance for opening this issue! And thank you for contributing your time to maki

[2017-08-22 15:38] CVarisco commented on #32
Thanks @troym9731 !

Could you give me more information about the bug? What happens?
How can I reproduce it?

[2017-08-22 16:11] troym9731 commented on #32
I believe it is the bug that is fixed by this pull request: https://github.com/CVarisco/create-component-app/pull/28. The problem I'm running into is that when I install the latest version of `create-component-app` from npm, it doesn't include this code change.

Here is the code in master:
[code]

Code from v0.8.5 on npm:
[code]

This is what I meant by if you're already aware that this change has

[2017-08-22 18:19] CVarisco commented on #32
Perfect !
I've published a new version 0.8.6 with this fix.
I think that I did a mistake on the build-publish process before.

Thanks a lot for your support 🙂
Could you check if everything works well?

ps: Feel free to close the issue if it works 🌮

[2017-08-22 18:38] troym9731 commented on #32
Everything looks great! Thanks for the help! 👍

[2017-08-22 18:38] #32 closed

[2017-09-27 11:27] yuanliang opened #33 "Can this support typescript components?"
.tsx type file
typescript component

[2017-09-28 10:23] CVarisco commented on #33
Sure !

To do that, specify in your config:

[code]

[2017-10-02 20:52] CVarisco commented on #33
I'm going to close this issue.
If you have some questions open another issue.

[2017-10-02 20:52] #33 closed

[2017-10-13 14:39] CVarisco commented on #30
Hi @puemos !
Any update on this ?

[2017-10-13 14:40] CVarisco commented on #5
Hi @TryingToImprove,
Check this #30 that can help you !

I'm closing this.

[2017-10-13 14:40] #5 closed

[2017-10-13 14:42] CVarisco commented on #29
Hi @nealoke
@puemos are working on #30 and it is almost finished!

I'm closing this issue 🙂
Check the update soon

[2017-10-13 14:42] #29 closed

[2017-10-13 15:06] puemos commented on #30
Hey @CVarisco !

I think it's almost ready, care to take a look?
We need some manual testing

[2017-10-13 15:10] CVarisco commented on #30
Sure @puemos

I'm cloning and testing now 🙂
After that, I text to you again 💯

[2017-10-23 23:46] #30 closed

[2017-10-25 21:11] blackxored opened #35 "Proposal: Editor plugins"
I think to make this really useful, editor integrations need to be coded. I realize this is easier said than done given the languages you usually code within these platforms. But I don't think it provides a huge benefit to code snippets without it; or at the very least as much as a better alternative as it could.

[2017-10-25 22:09] CVarisco commented on #35
Hi @blackxored !

thanks a lot for your contributions, I appreciate 🙂
You are right, the editor extension could be a valid way to use this tool.
But there are a lot of editors, and with this tool, I want to prevent to develop the extension for all the editors (with all the problems that you have with the editor limitations and the tool features).
But, I will really happy to help you if you'll writ

[2017-10-25 23:06] mosanger opened #36 "Does not process files in template subdirectories"
This is a great little tool and I'd love to use it...
Our current setup dictates test files in a subfolder called `__test__`

So the tree is as follows:
[code]

If I create a template like this the follwing error occurs:

(node:672) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process wi

[2017-10-26 07:04] tim-soft commented on #35
An atom integration would be pretty handy

[2017-10-26 09:36] CVarisco commented on #36
Hi @mosanger !

thanks a lot for your support 🙂
I'll investigate better on what doesn't work.

If you want contribute feel free to help me 🙂
Thanks

[2017-10-26 20:33] #36 closed

[2017-10-27 23:34] mdxprograms opened #46 "Ability to create a component without creating it's parent directory?"
If I have a `components/` directory and want to just create a file in that directory when running the script can I do that with the current implementation?

so if I run `create-component-app -t container` and call it `NavContainer` can I get it to create it under `components/NavContainer.js` instead of `components/NavContainer/NavContainer.js`

[2017-10-28 20:43] CVarisco commented on #46
Hi @mdxprograms,

I'm sorry about that but you can't do this.
How can the tool know if the component file should be copied directly or not? There is no a "dynamic way" to know if the user wants a single file or a folder (the only way is to ask to him, but it's another question).
Do you have some solution in mind?

If you don't understand what I mean, I'm here for any question 🙂
Thanks a lot for yo

[2017-10-29 14:14] puemos commented on #46
Hey @CVarisco @mdxprograms ,

Maybe we can create an optional config file in the base directory of the template with specific configs for it.
When we use the template first we read the config and then we can generate the components by them.

1. create directory or not
2. set of extra questions
3. ...

### .config.yml
[code]

[2017-10-29 14:19] CVarisco commented on #46
Very cool idea @puemos!
This is what I mean before, the only way to do that is with a user input and this could be a great idea 🙂

What do you think @mdxprograms ?

[2017-10-30 15:04] mdxprograms commented on #46
ya I think this is probably a solid idea for this. I worked on my a custom generator as well (thank you especially for the inspiration) and made it where the `templatesDir` is just referenced as the base directory for the templates. So you can do 1 of the following:

`react-do component People`

and

`react-do component People/Person`

[2017-10-30 15:18] clemsos commented on #35
@CVarisco : sorry to interfere, but what is the editor used in the README gif demo ?

[2017-10-30 15:32] CVarisco commented on #35
Hi @clemsos !

Don’t worry, the editor is Visual studio Code 🤓

[2017-10-30 16:18] clemsos commented on #35
thanks ! looks nice :)

[2017-10-31 19:47] pulverize opened #47 "Support for TypeScript components"
TypeScript is viewed as a viable means of type enforcement in React apps. All the components in my project are .tsx, and all the store files are .ts. I'd try out create-component-app if it had this functionality and it shouldn't be _too_ difficult to implement.

[2017-10-31 19:59] CVarisco commented on #47
Hi @pulverize !

thanks a lot for your help 🙂
Now, you can create a custom template and you can share it with the community also.

Otherwise, could you explain better what kind of feature do you have in mind?
Thanks man 💯

[2017-11-01 05:20] oodemi opened #48 "import styles from './undefined.css'"
I execute create-component-app without config.json.

![](https://user-images.githubusercontent.com/1279667/32261047-3b8ffd7a-bf0f-11e7-81c1-0b4c22830c2c.jpg)

The following code was generated.
I want to name it COMPONENT_NAME.css.

[code]

https://github.com/CVarisco/create-component-app/blob/31718fdac8946008c857eeda976c88c953d6f33f/src/defaultTemplates/js/common.template.js#L30

[2017-11-01 13:33] CVarisco commented on #48
Hi @oodemi
thanks a lot for your help 🙂
I'll watch why in the next few days!

Thanks a lot again 🌮

[2017-11-03 08:06] CVarisco commented on #48
Hi @oodemi !
I published a new version 1.2.1 that should fix the bug 🙂
If you find other bugs please tell me 👍

Thanks a lot for your support, I appreciate 🥇

[2017-11-07 02:20] oodemi commented on #48
Hi @CVarisco
Thank you for Fixing !!! 👍 👍 👍

[2017-11-09 20:29] CVarisco commented on #46
Hey @mdxprograms !

@puemos implement the capability to put a config file in the custom template folder!
Here the doc: [Link](https://github.com/CVarisco/create-component-app/blob/master/docs/CUSTOM-TEMPLATES.md#4-create-your-templates)

thanks again @mdxprograms and @puemos for the support 🏆

[2017-11-09 20:29] #46 closed

[2017-11-09 20:31] CVarisco commented on #7
Hi guys,
now you can create custom templates with this tool!
Here the docs: [Link](https://github.com/CVarisco/create-component-app/blob/master/docs/CUSTOM-TEMPLATES.md)

And also, you can share it with the community!!!
Here the docs: [Link](https://github.com/CVarisco/create-component-app/blob/master/docs/CUSTOM-TEMPLATES-COMMUNITY.md)

Thanks a lot for your support 🏆

[2017-11-09 20:31] #7 closed

[2017-11-09 20:31] CVarisco commented on #21
Hi guys,
now you can create custom templates with this tool!
Here the docs: [Link](https://github.com/CVarisco/create-component-app/blob/master/docs/CUSTOM-TEMPLATES.md)

And also, you can share it with the community!!!
Here the docs: [Link](https://github.com/CVarisco/create-component-app/blob/master/docs/CUSTOM-TEMPLATES-COMMUNITY.md)

Thanks a lot for your support 🏆

[2017-11-09 20:31] #21 closed

[2017-11-10 00:26] mdxprograms commented on #46
Thanks @CVarisco

[2017-11-22 13:04] damiansilbergleithcunniff opened #55 "Does not work with no config or example configs"
If I run without a config file specified I get: "Bad config file, Please check config file syntax."  Then if I say I want to use a template I get: "Object.entries is not a function"

I tried using the example config files and each fails with a "Bad config file" message.  It appears that the comments in the examples are invalid.  It also looks like, with the basic .ccarc config that is presented th

[2017-11-23 14:44] Prioe commented on #55
Hey @damiansilbergleithcunniff

Your first issue ("Bad config file, Please check config file syntax.", without a config file present).
Was caused by us throwing an error if there is no config file present. I believe this shouldn't happen
and I implemented a more friendly info message if we can't find a configuration file.

My pull request also includes a possible improvement to the docs, I removed

[2017-11-23 15:08] CVarisco commented on #55
First of all guys thanks a lot for your support, I really appreciate.

You are right @Prioe and with your PR should be fixed 🙂

Exactly, but I prefer to don't include the polyfill.
We need to help people update their own version of Node because in this way developers can have all the new features/fix/performance from the new version.
So, I think that is better to increase the node version to 7.

W

[2017-11-23 15:17] damiansilbergleithcunniff commented on #55
@Prioe you're awesome.   Thanks for jumping in here.  I reviewed your changes and they make sense to me.

@CVarisco I completely understand your motivation for leaving out the polyfill.  This actually explains why your app worked on one of my machines (running node 7.7.3) and not on another (running 6.x.x).  I chose to use 6.x on the second machine because I'm working on a project that will run in

[2017-11-23 16:03] CVarisco commented on #55
So, I merged the PR of @Prioe and I added the polyfill to make that every developer can use create-component-app 🙂

Thanks again for your support guys 🎉 🎉 🎉 🎉

PS: @damiansilbergleithcunniff Could you test with the `1.4.2` version and tell me if it works well (I tested with Node v6 and works)?

[2017-11-23 16:13] damiansilbergleithcunniff commented on #55
@CVarisco I updated using
`npm install -g create-component-app` which gave me `1.4.2`.
I then ran the app and tested.  The new messaging is MUCH more clear and the polyfill appears to have solved the other issue as well.  This gets a big 👍🏻 from me.

Thanks again @Prioe for your help.  You guys rock!

[2017-11-23 16:13] #55 closed

[2017-12-01 19:37] ddrabik opened #57 "Change file naming format for tests"
The convention I use for naming tests in my project is `COMPONENT_NAME.test.js`. The script generates test files in the format of `test.COMPONENT_NAME.js`.

Do you think the format should be exposed as a `.ccarc` option?

[2017-12-03 14:06] CVarisco commented on #57
Hi @ddrabik and @Ayc0,
thanks a lot for your support, I appreciate your feedback 🙂
Could better use the `fileNames.testFileName` option.

What do you think about it?

[2017-12-03 16:32] croogie opened #58 "there's no `--path` param"
I'd like to run generator providing `path` parameter from commandline (not from config file).
It would be great to have ability to provide almost every parameter from commandline so that script can be easily integrated with IDEs.

[2017-12-03 23:29] ddrabik commented on #57
I think either one handles the majority of use cases. I like the proposal by @CVarisco b/c you can eliminate `fileNames.testFileName` and `fileNames.testFileMatch`.

Whichever one we go with, I could also see this used for the style and storybook file naming.

[2017-12-04 08:16] CVarisco commented on #57
I'll work on the fileNames fix asap.

Thanks guys 🥇

[2017-12-04 08:17] CVarisco commented on #58
Hi @croogie !
thanks a lot for your support, makes the community a better place 🙂

Sure, you have a good idea!
I'll work on this asap 👍

Thanks 🌮

[2017-12-06 22:33] croogie commented on #58
Is there a way how I can test that change locally? NPM link?

[2017-12-07 20:13] #58 closed

[2017-12-08 13:15] croogie opened #61 "Searching for config file from `.` to `/`"
It would be great to don't call the script in the directory where `.ccarc` is but rather call it from some child directory eg. `src/main/components`.
What create-component-app can do then is that he will look for `.ccarc` file starting from current directory to every parent directory (so `..`,`../..` etc) till he find config file (similarly how node look for node_modules dir).

When config file wi

[2017-12-11 18:33] CVarisco commented on #61
Hi @croogie !

sorry for the delay in the answer, I'm a little bit busy in this period 🙁
Anyway, I like your idea but I need to think a little bit about how we can implement this without break all the cases that the tool managed.
In the next days I'll work on other things and when I have time to think about it I'll do.

If you want, you can try to contribute, I appreciate a lot of contributions to

[2017-12-28 13:27] CVarisco commented on #57
Hi @ddrabik @Ayc0,

I published a new version of the new feature (v1.6.0).

Now you can call the testFileName like you want and I added the capability to use COMPONENT_NAME on the filenames options.

What do you think? Can you test if for you is a good option?

Thanks guys 👍

[2018-01-04 16:45] #57 closed

[2018-01-08 02:42] kisnows opened #62 "[Error] Cannot convert undefined or null to object"
If I use a  template , it's work well, but if I don't use a template, it will raise an error
[code]
The node verison:
[code]

[2018-01-09 08:54] #62 closed

[2018-01-09 09:24] francois-roget opened #64 "New question: Do you want semicolons ?"
Hi,

Thanks for this tool that will change the way we work.
I like your generator (without template) but I would like to have the ability to have semicolons after statements.
I currently use ESLint with mainly airbnb style guide.

Do you think it would be possible to give that possibility as an additional question?

Thanks in advance for considering this

[2018-01-11 17:10] CVarisco commented on #64
Hi @francois-roget !

Thanks a lot for your question 🙂
One interesting idea could be to pass the linting rule to the config object.
Because in that way we can cover much more cases.

The only "issue" is which linter?

What do you think ?

[2018-01-11 17:32] francois-roget commented on #64
Hi,

from my point on vue ESLint is the more used one. I think this is the one to go.

[2018-01-12 07:41] CVarisco commented on #64
Probably we can Integrate the choice between prettier and ESLint.
I'll work on this in the next days 👍

Thank you @francois-roget I appreciate.

[2018-01-12 18:41] francois-roget commented on #64
Thank YOU for the work

[2018-01-22 22:32] CVarisco commented on #47
I'll close the issue because the capability to have .ts files exists 👍

[2018-01-22 22:32] #47 closed

[2018-01-22 22:39] CVarisco opened #65 "Proposal: Make create-component-app usable from other apps"
As a user, I want use create-component-app in my tools / node-application.
Make exportable the function to create components passing the config object.

[2018-01-22 23:03] CVarisco opened #66 "Proposal: Create a tree components configuration object"
As a user, I want to create a tree configuration object to create directly from one file the components structure.

[2018-02-11 23:43] vemv opened #68 "Extraneous`null` emitted"
Hi!

The following 'session':

[code]

generated this:

[code]

See the `null`? Seems like a little issue.

Cheers - Victor

[2018-02-11 23:54] vemv opened #69 "componentMethods option - unintuitive behavior"
Hi again!

I tried setting `"componentMethods": ["render"],` in my .ccarc.

This results in the following:

[code]

I see two issues here:

* duplicate `render` method
* I didn't specify `constructor`. Intuition would tell me that for a `["render"]` option, that method shouldn't be emitted. It could be  emitted for `[]` (i.e. by default), and for `["constructor", "shouldComponentUpdate"]` (i.e. if

[2018-02-12 08:09] CVarisco commented on #68
Hi @vemv !

Thanks a lot for your feedback and support 👍
I did a PR #70 to fix this 🙂

[2018-02-12 08:17] CVarisco commented on #69
Hi @vemv

Before all, thanks for your support and alert 👍

Anyway, the `componentMethods` as you can see isn't exclusive and add extra methods to the component (and doesn't check if exist or not one method inside the list).
For now, I can propose a PR where I can change the documentation that explicit these.
And for the future, we can think which is the best behaviour for that option.

What do you

[2018-02-12 08:28] CVarisco commented on #68
Published new version with the fix!
Thanks again

[2018-02-12 08:29] #68 closed

[2018-02-15 13:40] isabolic opened #71 "support for typescript"

[2018-02-15 13:49] CVarisco commented on #71
Hi @isabolic !

you can create your own template with the support of typescript.
If you want, I can send here an example if you send me a template 🙂

[2018-02-15 13:56] isabolic commented on #71
@CVarisco if you can attach template example of ts here that would be great. 👍

Tnx

[2018-02-15 14:20] CVarisco commented on #71
@isabolic depends on your way of doing components.
Post here an example of your component please :)

[2018-02-15 20:34] isabolic commented on #71
import * as React from "react";
import AppBar from "material-ui/AppBar";
import Toolbar from "material-ui/Toolbar";
import IconButton from "material-ui/IconButton";
import MenuIcon from "material-ui-icons/Menu";
import AccountCircle from "material-ui-icons/AccountCircle";
import Switch from "material-ui/Switch";
import Typography from 'material-ui/Typography';
import { FormControlLabel, FormGroup

[2018-02-25 15:10] damiansilbergleithcunniff opened #72 "Template Creation Docs Are Unclear"
* The instructions are not clear enough about what is required and optional.
* I'm unsure if the example/s provided in the docs are complete
  * The config appears to only require 2 lines but I don't know if this is a partial or full config
* It's unclear to me that the `templateName` config key is supposed to point to
* "You can create a config file in your template directory"
  * I thought I alr

[2018-02-25 15:18] damiansilbergleithcunniff commented on #72
So I just fixed my issue by removing the `.ccarc` folder and `config.json` which was under it.  I then added a `cca` key to my `package.json` and added the block from the documentation bullet **2**.

My problem is resolved, but I think the docs still need attention.  I'd update them but I'm not certain I'm qualified.

[2018-02-26 09:03] CVarisco commented on #72
Hi @damiansilbergleithcunniff

I'm really sorry for the confusion that you found in the docs.
I'm changing the [CUSTOM_TEMPLATE](https://github.com/CVarisco/create-component-app/blob/master/docs/CUSTOM-TEMPLATES.md) documentation because as you notice is not correct (is referred to an old version of the tool)

I appreciate a lot your warning, thanks 🙏
Feel free to tell me what do you think about i

[2018-02-26 13:12] #72 closed

[2018-03-08 13:36] damiansilbergleithcunniff opened #73 "Control Case Of Template Name"
I'm trying to use create-component-app for some of the other templated files I create.  Specifically redux actions, reducers, and selectors.  I'd like to be able to use the COMPONENT_NAME replacement key with different casing.  Currently it just uses whatever I've entered as the component name.

What I'd love to be able to do is:
* Specify: `ComponentName` on the command line
* In the template spe

[2018-03-08 13:38] damiansilbergleithcunniff opened #74 "Alter the default path in a template"
I'd like to be able to alter the default path (`./src/components`) in a template and still suggest a path change to the user.  So if I'm using my `containers` template I could put a config value in that would suggest `./src/containers` and if I'm using a template that makes multiple folders in the root of `src` I could offer `./src` as the suggested path.  I'd like the user to still be able to ove

[2018-03-09 09:31] CVarisco commented on #73
Hi @damiansilbergleithcunniff,

thank you for your suggestion 🙂
I believe that now made these changes could be very difficult.
The API of `COMPONENT_NAME` is used by all the users and it is like that in every template.

I prefer to don't touch that API for now.
Thanks man 👍

[2018-03-09 09:31] #73 closed

[2018-03-09 09:33] CVarisco commented on #74
I'm currently working on the new version `v2`and this could be a new parameter on the config.
Thanks for your suggestion!

[2018-03-09 09:38] #71 closed

[2018-03-09 09:45] CVarisco commented on #69
Currently, I'm working on the `v2` and I can consider changing that option to accept every method to include in the components.
Thank you for your proposal and help 👍

[2018-04-10 01:25] releaf opened #76 "Proposal - add support for .ts and .tsx extensions"
If it isn't already supported, it'd be awesome to support TypeScript files in this project as well.

[2018-04-10 09:59] CVarisco commented on #76
Hi @releaf

thanks for your proposal!
Can you explain which kind of support do you think for Typescript? Which process/feature should have the support?

[2018-04-30 13:57] CVarisco commented on #76
Hi @releaf

I'm really sorry for the delay :(
Anyway, you have the capability to create your own templates and use it with create-component-app.
I can help you to create a custom template if you share with me one component that you want to use as a template.
Just try to follow this [guide](https://github.com/CVarisco/create-component-app/blob/master/docs/CUSTOM-TEMPLATES.md) and tell me what do yo

[2019-01-15 08:30] CVarisco commented on #35
Closed because for now there are no chances to have editor plugins

[2019-01-15 08:30] #35 closed

[2019-08-14 12:27] s10wen opened #79 "No config file detected"
Hi, great project thanks! 👍🏻

I'm having an issue with using the config file. I've created it in the project root and would like to use `includeStories`:

`config.json`
[code]

When I run `create-component-app` or `create-component-app --config config.json` I get the message:

[code]

Oddly, if I break the `json` formatting I get an Error, so it looks to be finding it.

[code]

Any ideas please?

[2019-08-14 16:08] CVarisco commented on #79
Hi!
I’m really sorry but I can’t see what’s going on until the end of August, because I have no computer with me in holidays.
I’ll be super happy to help you when I’ll come back home!

Anyway, try to use this path ./config.json instead of config.json (just to try a different way)

I'm sorry about that.
Thank you so much for your help

[2019-08-15 10:56] s10wen commented on #79
Ah, no worries, enjoy your holidays!! 🏖 I've found a work around for now :)

Some more info that might help when you get back if it's useful:

Didn't work:
[code]

Didn't work:
[code]

Did work! 😍
[code]

Config:
[code]

Looks like using custom templates doesn't support config files for me, not sure if this is intended or not? I'll take a further look into creating my own custom template.